header {
  background-color: var(--header-bcg-clr);
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Profile section */
.hero__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(1280px - 2rem);
  max-width: 100%;
  margin: 2rem auto 0rem auto;
  padding: 0.5rem 0;
  border-bottom: 1px solid #21212166;
}

.hero__content {
  display: flex;
  gap: 1rem;
}

.profile__img {
  max-width: 100%;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__name {
  color: #212121;
  font-weight: 500;
  font-size: clamp(1.25rem, 2rem, 4vw);
  margin-top: -0.5rem;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__bio {
  color: #212121b2;
  font-size: 1rem;
  font-weight: 500;
}

.profile__edit {
  border: none;
  background-color: transparent;
  color: #212121b2;
  display: flex;
  margin-top: auto;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.profile__edit:hover {
  color: #212121;
}

.new_post {
  display: flex;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
.new_post > button,
.save__button {
  display: flex;
  background-color: #212121;
  border: none;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
}
.new_post > button span,
.profile__edit > span {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.new_post > button:hover {
  background-color: #212121cc;
}

/* Post cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: calc(1280px - 2rem);
  padding: 1rem 0;
  margin: 0rem auto;
  border-bottom: 1px solid #21212166;
}
.card > img {
  width: 100%;
  height: 313px;
  object-fit: cover;
  border-radius: 8px;
}
.card__content > h3 {
  font-weight: 500;
  font-size: 1.25rem;
}
.card__content {
  display: flex;
  justify-content: space-between;
}
.like-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  color: #212121b2;
  padding: 2rem;
}

/* Edit Profile Modal  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--white-clr);
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}
.modal-content > h4 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #212121b2;
  border-radius: 5px;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
.form-group > input[type="file"] {
  /* Hide the default file input */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Custom file input label */
.file-input-label {
  background-color: #212121;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.file-input-label:hover {
  background-color: #424242;
}

.file-input-label svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.image-preview {
  margin-top: 1rem;
}

.image-preview img {
  max-width: 190px;
  max-height: 190px;
  border-radius: 50%;
}
.modal_actions {
  margin-top: 1rem;
}
.cancel__button {
  background-color: transparent;
  color: #212121;
  border: none;
}
@media screen and (max-width: 900px) {
  main {
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin: 1rem;
  }
  .hero__profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile__img {
    width: 80px;
    height: 80px;
  }
  .profile__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__name {
    margin: -0.5rem 0;
  }
  .new_post {
    display: flex;
    align-self: center;
    margin-bottom: 0.5rem;
  }
  .profile__edit {
    margin: 1.5rem 0 1rem 0;
  }

  .new_post > button {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .new_post > button {
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
